.header_searchwork{margin:0 0 0 -44px !important;justify-content: right !important;}
.dream-star { padding-bottom: 3px;padding-left: 17px; float: left;} 
    .main-img {float: left;}
.bio-title h3 {
    color: #323232;
    font-size: 18px;
    margin: 27px 0 16px 0;
}