.header_searchwork{margin:0 0 0 -44px !important;justify-content: right !important;}
/******* #SUMMARY CSS*****************/
    label.total_cost {
    font-size: 16px;
}
/********* #SUMMARY CSS****************/
body{background: #fff !important;}
    .img-cir-profile {display: flex;justify-content: space-between;
}
.col-lg-12 {
    padding: 0;
}
nav.d-flex.fr-btn {padding-top: 7px;}
.btn_plus_minus  {padding: 0px 8px;border-radius: 50%;background: #fff;color: #000;border: 1px solid #c1baba;   }
@media (min-width: 0) and (max-width: 567px){
.instant-main {padding: 0;}
.manage-as-lo {font-size: 11px;font-family: sans-serif;font-weight: 600; width: 370px; overflow: hidden;}    
div#one {padding-left: 10px !important;}
.col-lg-9 {padding:0;}
.prof-heigh-wid { float: left;width: 80%;     overflow: hidden;}
.d-flex.hidn-objct {padding: 22px 10px;}
}
.summary-table-left   {  padding: 10px; position:relative;}
.summary-table-right   {  padding: 10px;}
.summary-table-left span {float: left;width: 100%;text-align: left !important;}
.summary-table-right span {float: left;width: 100%;text-align: right !important;}