
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    .header_searchwork{margin:0 0 0 -44px !important;justify-content: right !important;}
 .instant-main {
    padding: 0;
}
button#nextBtn8{width:100% !important;}
.w3-sidebar.w3-light-grey.w3-bar-block {
    display: none;
}
nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top {
    display: none;
}
.logo_new_instant {
    width: 60% !important;
    display: flex;
    margin: 0 auto;
        padding-top: 32px;
}
body {
    background-color: #fff !important;
    padding:0 !important;
}
.container {
    padding: 0 !important;
    justify-content: center;
    display: flex;
}
.card{width:375px;
    background-color: #fff;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: unset;
    padding:0 16px;
        flex-direction: unset !important;
} 
.main{
    display:none;
}
.active{
    display:block !important;
}
.d-none{
    display:none !important;
}

label {
    color: #000;
}

.parent{
    margin-top:20px;
}
.card .top-div{
   display:flex;
   justify-content:center; 
   align-items:center;

}  

.top-div img{
    width:20px;
    margin-right:7px;
}
.progress-bar{
    display:flex;
    list-style:none;
    counter-reset:container 0;
    
}
.progress-bar li{
    display:flex;
    list-style:none;
    counter-increment:container 1;
    position:relative;
    margin-right:133px;
    margin-top:20px;
}
.progress-bar li::before{
    content:counter(container);
    position:absolute;
    height:25px;
    width:25px;
    border-radius:50%;
    border:1px solid #eef1f7;
    text-align:center;
    line-height:26px;
    z-index:10;
    background-color:#fff;

} 
.progress-bar li::after{
    content:'';
    position:absolute;
    height:2px;
    width:140px;
    background-color:#f5f7fa;
    top:12px;
    right:-10px;
}
.progress-bar li.active::before{
    background-color:#664de5;
    border:none;
    color:#fff;
}
.progress-bar li.active::after{
    background-color:#664de5 !important;
}

.progress-bar li:first-child:after{
    display:none;
}  

.content{
    /*margin-top:60px;*/
    /*text-align:center;*/
    /*margin-bottom:30px;*/
}
.content h2{
    font-size:22px;
}
.content p {
    font-size: 18px;
    color: #9ca4b4;
    text-align: center;
    font-weight: 500;
    padding-bottom: 22px;
}
.input-text{
    position:relative;
    margin-top:30px;
}
input[type="text"] {
    width: 100%;
    height: 55px;
    border: none;
    border: 1px solid #bbb7c3;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 5px;
}
.radio-text{
    display:flex;
    gap:20px;
}
input[type="radio"]{
  display:none;
}
.radio-text label{
    height:125px;
    width:100%;
    border:1px solid #edf1f6;
    border-radius:5px;
    padding:5px 10px;
    box-sizing:border-box;
    cursor:pointer;
}
.radio-text label h5{
    margin-top:10px;
    
}
.radio-text label p{
    font-size:12px; 
    margin-top:10px;
    font-weight:600;
    color:#99a1b2;
}
#radio-button-1:checked~.radio-button-1,
#radio-button-2:checked~.radio-button-2 {
    border-color: #a89af0;
}
#radio-button-1:checked~.radio-button-1 i,
#radio-button-2:checked~.radio-button-2 i{
    color:blue;
}

label.label-email {
    padding-top: 18px;
}

.input-text span{
    position:absolute;
    left:0;
    top:-16px;
    font-size:11px;
    font-weight:900;
    color:#000;
    
}
::placeholder{
    color:#ccc;
}


.warning{
    border:1px solid red !important;
}

.button{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
} 
.button button{
    height:40px;
    width:100%;
    background-color:#654de4;
    font-size:12px;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
    transition:all 0.5s;
}
.button button:hover{
    background-color:#361db7;
}
.button_gap{
  
    gap:20px;
}
.button_gap1{
  margin-top:46px;
    gap:20px;
}
.launch{
    margin-top:75px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
 
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
    
    .row.row-2 {background: #fff;}
    a.close-btn {
    float: right;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin: -30px 0 0 0;
}
@media (min-width:0) and (max-width:567px){
    .container{padding:0 !important;}
    i.fa.fa-close {
    top: 4%;
}
p.text-center.lets.chk-email {
    font-size: 18px !important;
}
}