/*.row{margin-right:0 !important;}*/
div#jobdata a {text-decoration: none;}
.p-3 {padding: 5px!important;}
.carousel-item{background-repeat: no-repeat; background-size: cover; background-position: center;}
#row_job{margin-right:0 !important;}
@media screen and (min-width: 768px){
.instant-main { padding-left: calc(var(--sidebar-width) + 20px);}
.kmtrs {display: flex !important;justify-content: space-between !important; align-items: center !important;}}
a.post-create {
    text-decoration: none;
}
.outer {
  position: relative;
}
.outer > a {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.inner {
  position: relative;
  pointer-events: none;
  z-index: 1;
}
 
.inner a {
  pointer-events: all;
}
