.header_searchwork{margin:0 0 0 44px !important;justify-content: right !important;}
    .img-cir-profile {display: flex;justify-content: space-between;}
nav.d-flex.fr-btn {padding-top: 7px;}
@media (min-width: 0) and (max-width: 567px){
.row {
    flex-direction: row !important;
}
/*div#one {*/
/*    padding-left: 10px !important;}*/
    .col-lg-9 {width: 100%;padding: 0;}}

    button.btn_message {
    background: #37f737;
    color:#fff;
}
button.invite-jop-post {background: #fff !important;border: 1px solid #00C853;
}
p.skills {
    background: #fff !important;
    padding: 8px !important;
}
.dream {
   display:flex;
   gap:10px;
}
    img.main-img.profile-in_mid {width: 60px !important; height: 60px !important;}
   tr.table-row_top {text-align: center;}
tr.table-row_users td {font-size: 14px;padding: 10px;}
.profile-mid_right_btns button a {color: #fff;}
/*.profile-mid_right_btns button a:hover {color: #000;}*/
.profile-mid_right_btns button{    width: 100%;background: #cfcfcf;font-weight: 600;font-size: 15px;padding: 10px;border-radius: 10px;color: #000;}
button.invt-job-intrvw {
    background: #00C853;
    color: #fff;
}
.profile-mid_right_btns {display: grid;gap: 12px;}
.col-lg-8 {padding: 0 !important;padding-right: 32px !important;}
.col-lg-4 {padding: 0 !important;}
.bck-white {padding: 32px !important; }
.dream { margin:0px !important;margin-left: 16px !important;}
.table_container{margin-top: 46px;width: 100%;}tr.table-row_users {text-align: center;}
.row.user-info_row {padding: 32px 0; border-bottom: 2px solid #e1e1e1;}