.header_searchwork{margin:0 0 0 -44px !important;justify-content: right !important;}
.col-lg-9 {background: #fff;height: 100vh;}
section{background:#fff;}
.cnfrm-amount,.checkout_prize{text-align:center;     margin-top: 20px;}
.checkout_prize{font-weight:700;}
button.checkout_no,.checkout_now{border-radius: 30px; font-size: 12px;     background: #047e04;}
.checkout_btn {text-align: center;margin-top: 100px;}
button.checkout_no{padding: 10px 30px !important;     margin-right: 20px;}
.checkout_prize { font-weight: 700; margin-top: 18px;font-size: 31px;}
.pay_check:hover{background-color:#e5e5e5; color:#000;}
i.fa-regular.fa-circle-check {font-size: 65px;color: #03b503;}
.checkout_titles {text-align: center;}
.img-main-pro{width: 40% !important; margin: 0 auto;}
.instant-sidebar-profile-image{margin:0 auto;}
@media (min-width: 0) and (max-width: 567px){
    .hidn-objct.sticky.msg-header {padding: 28px;align-items: center;}
    i.fa-solid.fa-arrow-left {padding: 5px;color: #000;}
    .prof-heigh-wid {float: left;width: unset;}
    .checkout-top-title {text-align: center !important;margin-left: 85px !important; font-size:18px;}
    .instant-sidebar-profile-image {margin: 0 auto;}
    img.main-img {width: 100% !important;}
}