
button.btn.btn-success{
    border-radius:5px !important;
}

.btn-success{
        background-color: #00c72d !important;
        border:none;
}
    .profile-mid-content, .fl-sm {display: flow-root !important; }
    .upload__img-box {width: 14%; float: left;border-radius: 10px;}
    .img-bg {border-radius: 10px;}
    
    .dream {
    display: flex;
}.img-cir {
    display: flex;
    justify-content: space-between;
}
.dream-star {
    padding-bottom: 3px;
    padding-left: 10px;
}

@media (min-width: 0) and (max-width: 567px){
td {
    font-size: 12px !important;
}
    .bio-title h3{margin: 8px 0 0 0 !important;}
    input.form-control {margin-bottom: 8px !important;}
    table.table td {
    font-size: 13px !important;
    text-align: center;
}
.col-lg-9 {
    height: 210vh !important;
    background: #fff;
}
   .row.user-info_row {
    display: flex !important;
    flex-direction: column !important;
}    
.bck-white .col-lg-4 {width: 100% !important;}
}
