header.header {
    display: none;
}
.w3-sidebar.w3-light-grey.w3-bar-block {
    display: none !important;
}
.last_pg_logo{padding-bottom:0 !important;}
.instant-main{padding:0 !important;}
body.background-container {
    background: #fff !important;
    padding:0 !important;
}
.set_profile{padding:32px 0 0 0 !important;}
.profile_set{font-size: 20px !important;
    color: #666363!important;
        /*font-weight: 600 !important;*/
}
@media (min-width:0) and (max-width:567px){
    body.background-container {background: #fff !important;}
	.skip-btn{    position: absolute;top: -30px;right: 0;background: none;color: #000;}
	.container {    transform: translate(0%,40%) !important; }
	.card{height:270px !important; box-shadow:none !important;     width: 350px !important;}
	.main_1 i{position:absolute !important; top:10%;}
	/*.col-sm-12 ,.instant-main{height:89vh !important;}*/
	 .blck-logo{    position: absolute;top: -85px;width: 60% !important;right: 65px;}
	 .logo_new_instant{display:none;}
}
::placeholder {
    color: #bdbdbd !important;
    opacity: 1;
}
.logo_instant_jobs{width: 60%;
    margin: 0 auto;
    justify-content: center;
    display: flex;}
.logo_new_instant{    width: 60%;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    margin: 0 auto;}
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.row{
    padding:0 !important;
    margin:0 !important;
}
.container {
    /*transform: translate(0px, 40px);*/
    margin: 0 auto;
    padding: 0;
    width: 100px;
    display: grid;
    align-items: center;
    justify-content: center !important;
}
.card {
    width: 375px;
    background-color: #fff;
       padding: 32px 16px;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: unset;
    /*box-shadow: 0 0.5rem 1.2rem rgb(0 0 0 / 20%);*/
    border-radius: 8px;
}
.main{
    display:none;
}
.active{
    display:block !important;
}
.d-none{
    display:none !important;
}

label {
    color: #000;
}

.parent{
    margin-top:20px;
}
.card .top-div{
   display:flex;
   justify-content:center; 
   align-items:center;

} 

.top-div img{
    width:20px;
    margin-right:7px;
}
.progress-bar{
    display:flex;
    list-style:none;
    counter-reset:container 0;
    
}
.progress-bar li{
    display:flex;
    list-style:none;
    counter-increment:container 1;
    position:relative;
    margin-right:133px;
    margin-top:20px;
}
.progress-bar li::before{
    content:counter(container);
    position:absolute;
    height:25px;
    width:25px;
    border-radius:50%;
    border:1px solid #eef1f7;
    text-align:center;
    line-height:26px;
    z-index:10;
    background-color:#fff;

} 
.progress-bar li::after{
    content:'';
    position:absolute;
    height:2px;
    width:140px;
    background-color:#f5f7fa;
    top:12px;
    right:-10px;
}
.progress-bar li.active::before{
    background-color:#664de5;
    border:none;
    color:#fff;
}
.progress-bar li.active::after{
    background-color:#664de5 !important;
}

.progress-bar li:first-child:after{
    display:none;
}  
.content h2{
    font-size:22px;
}
.content p {
    font-size: 18px;
    color: #9ca4b4;
    text-align: center;
    font-weight: 500;
    padding-bottom: 22px;
}
.input-text{
    position:relative;
    margin-top:30px;
}
input[type="text"]{
      width: 100%;
    height: 48px;
    border: none;
    border: 1px solid #e5e1e1;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 12px;
}
.radio-text{
    display:flex;
    gap:20px;
}
input[type="radio"]{
  display:none;
}
.radio-text label{
    height:125px;
    width:100%;
    border:1px solid #edf1f6;
    border-radius:5px;
    padding:5px 10px;
    box-sizing:border-box;
    cursor:pointer;
}
.radio-text label h5{
    margin-top:10px;
    
}
.radio-text label p{
    font-size:12px; 
    margin-top:10px;
    font-weight:600;
    color:#99a1b2;
}
#radio-button-1:checked~.radio-button-1,
#radio-button-2:checked~.radio-button-2 {
    border-color: #a89af0;
}
#radio-button-1:checked~.radio-button-1 i,
#radio-button-2:checked~.radio-button-2 i{
    color:blue;
}

label.label-email {
    padding-top: 18px;
}

.input-text span{
    position:absolute;
    left:0;
    top:-16px;
    font-size:11px;
    font-weight:900;
    color:#000;
    
}
::placeholder{
    color:#ccc;
}


.warning{
    border:1px solid red !important;
}

.button{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
} 
.button button{
    height:40px;
    width:100%;
    background-color:#654de4;
    font-size:12px;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
    transition:all 0.5s;
}
.button button:hover{
    background-color:#361db7;
}
.button_gap{
  
    gap:20px;
}
.button_gap1{
  margin-top:46px;
    gap:20px;
}
.launch{
    margin-top:75px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
 
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
    
    .row.row-2 {background: #fff;}
    a.close-btn {
    float: right;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin: -30px 0 0 0;
}
 .tag {
    margin-right: 2px !important;
    color: #605d5d !important;
    border: 1px solid #a7a7a7;
    box-shadow: unset !important;
    border-radius: 10px;
    font-size: 14px;
    padding: 4px;
}

.active, #one-tab:hover {
    color: #00C853 !important;
    border: none;
    border-bottom: unset !important;
}
/***************************************************/
body {
  background-color:#eee;
}
.ddll-select {
  visibility:hidden;
}
.ddl {
  position:relative;
  height:50px;
  width:100%;
  text-align:initial;
}
/*.ddl::after {*/
/*  content:'';*/
/*  position:absolute;*/
/*  top:20px;*/
/*  right:20px;*/
/*  width:12px;*/
/*  height:2px;*/
/*  background:#555;*/
/*  z-index:99;*/
/*  transform:rotate(-40deg);*/
/*  transition:0.5s;*/
/*}*/
/*.ddl::before {*/
/*  content:'';*/
/*  position:absolute;*/
/*  top:20px;*/
/*  right:28px;*/
/*  width:12px;*/
/*  height:2px;*/
/*  background:#555;*/
/*  z-index:99;*/
/*  transform:rotate(40deg);*/
/*  transition:0.5s;*/
/*}*/
.ddl.active::after{
  right:28px;
}
.ddl.active::before{
  right:20px;
}
.ddl-input {
  position:absolute !important;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor:pointer;
  border-radius:10px !important;
  padding:10px 20px !important;
  outline:none;
  background:#fff !important;
  border:1px solid #e9e9e9 !important;
}
.ddl.active .ddll-options {
  visibility:visible;
  opacity:1;
}
.ddl .ddll-options {
  position:absolute !important;
  width:100%;
  top:37px;
  background:#fff !important;
  /*border-radius:10px;*/
  overflow:hidden;
  visibility:hidden;
  opacity:0;
  transition:0.25s;
  z-index: 999;
  border:1px solid #e9e9e9 !important;
    box-shadow: 0px 3px 6px #00000029;
  color:gray !important;
}
.ddl .ddll-options > div {
  padding: 10px 20px;
  cursor:pointer;
  border-bottom:1px solid #e5e1e1;
}
.ddl .ddll-options > div:hover {
  background: var(--bs-primary);
  color: #000;
}
/***************************************************/

.inp_date_onb{color:grey;}

.skip{color: #40abff!important;
      margin-top: 8px !important;
    
}
.verify{padding:32px 0 16px 0 !important;}
 
p.inp-pro-info input {
    color: #000;
    border: 1px solid #d3d3d3;
    height: 50px;
}
select#country {
    color: #adadad;
    height:50px;
}
.date_contry{padding-top:10px;}
[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text)
}
.ddll-options.ddl-options-list div {
    color: #D2D2D2;
}
#mySelectt:hover {
    font-weight: bold;
}
.mx-auto{position:relative;}
.mx-auto svg {
    position: absolute;
    z-index: 1;
    right: 7px;
    top: 10px;
    width: 24px;
    height: 18px; 
    color:#ababab;
    transform: rotate(0deg);
}
/*.button,.create-workspace {*/
/*    background: #F1F3F4 !important;*/
/*    color: #323232 !important;*/
/*    border: #F1F3F4 !important;*/
/*}*/
input.inp_date_onb {
    color: #a5a5a5 !important;
}
 