/*.row{margin-right:0px !important;}*/
.col-lg-9 {padding:0 0 0 30px;}
.header_searchwork{margin:0 0 0 18px !important;justify-content: right !important;}
@media (min-width:0) and (max-width:567px){
.col-lg-9{padding: 0 !important;}
.review-section{padding:5px;}
.bck-white {padding: 0;  }
.rightsidemenu {float: left; width: unset;}
}
.instant-rightbar {
    DISPLAY: NONE;
}
