
.p-3 {padding: 10px!important;}
.carousel-item{background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
@media screen and (min-width: 768px){
.instant-main { padding-left: calc(var(--sidebar-width) + 20px);}
.kmtrs {display: flex !important;justify-content: space-between !important; align-items: center !important;}
}
