@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
a{
    text-decoration:none !important;
}
p{
    margin:0;
}

    .section:hover input {background:#e5e5e5;  }
    .section:hover input#ddl_list{ background:#fff; }
/*body.background-container {*/
/*    overflow: overlay;*/
/*}*/
.input::placeholder {
  color: #707070 !important;
  font-weight:700px;
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
    font-weight:700px;
 color: #707070 !important;
}

.input::-ms-input-placeholder { 
    font-weight:700px;
 color: #707070 !important;
}
.col-8.prize_service_controller {
    padding: 0;
}
select.form-control.cur-item-1 {
    background: #dddddd;
}
input.form-control.cur-input-2 {
    border: unset;
    background: transparent;
    position: absolute;
    right: -152px;
    top: -51px;
    padding: 0;
    width: 130px;
}
.change-box{
    display: none;
}
/*select_services.php*/
button.services_child_container .container {
    margin-top: 10px;
}
.services_child_container{
  background:none;
  border:1px solid #cfcfcf;
  height: 113px;
  padding: 0 10px;
}
p.text-center.lets.sevices_topic_ {
    padding: 32px 16px;
}
.card_for_services.services_parent_container.d-flex {
   justify-content: center;
    gap: 18px;
}
button.services_child_container p {
    font-size: 13px;
}
button.services_child_container svg {
    width:50px;
    height:50px;
}
/*select_services.php*/
#search-input {
  display: none ;
}
input#search-input {
    width: fit-content;
    margin-left: 10px;
    border:none;
    height: 25px;
}
/*search fetch data*/
div#userList {
      position: absolute;
    top: 47px;
    background: #fff;
    width: 531px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
ul.list-unstyled {
    padding: 16px;
    display:grid;
    margin: 0;
}
ul.list-unstyled li {
    height: 40px;
}
ul.list-unstyled li a {
    color: #767676;
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px;
}
/*--------------------------------------------------------------------------*/
/*search result*/
.search_results_topic p{background: #fff; border-radius:5px; padding:0 5px;font-size: 12px;}
.search_results_topic svg{width: 14px;margin-left: 5px;}
.search_results_topic{align-items: center;}
.search_result_row{gap:10px}
.dream {display: flex;gap: 14px;align-items: center;}
.search_detail_container {gap: 11px;align-items: center;}
tr.table-row_users td {font-size: 14px;padding: 10px;}
tr.table-row_top {text-align: center;}
.img_search_container{width:90px;height:90px; border-radius:50%; object-fit:cover}
.batch_small_green{width:14px;margin-right: 5px; }
.d-flex.search_detail_container h6{padding-bottom: 4px;}
.container_search{padding:32px;overflow: hidden;border-radius: 8px;}
.topic_search_result p {font-size: 13px;font-weight: 600;}
.topic_search_result{padding:20px 0;}


.tags-input-wrapper{
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    border: unset;
}
.tags-input-wrapper input{
    border: none;
    background: transparent;
    outline: none;
    width: 160px;
    margin-left: 8px;
}
.tags-input-wrapper .tag{
    display: inline-block;
    background: #F1f3F4;
    border: #F1F3F4;
    color: #323232 !important;
    border-radius: 8px;
    padding: 7px;
    margin: 0 6px 0 0px !important;
}
.tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
}




input.btnn {display: none;}
.upload_wrap_profile{display:flex !important;}
.outer {
 position:initial;
}
 
.outer > a {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
 
.inner {
  position: relative;
  pointer-events: none;
  z-index: 0;
}
 
.inner a {
  pointer-events: all;
}

.likedislike {
    position: relative;
    z-index: 9999;
}

.main_row_wrapper{margin-right:0 !important;}
.carousel-inner {
    z-index: 0 !Important;
}
p.skills {
    padding: 8px !important;
    background: #F1F3F4;
    border-radius: 10px;
    font-weight: 600;
    font-size:12px;
    color: #323232;
}

.skill_hobbies_{margin-left:2px; gap:10px;flex-direction: row;flex-wrap: nowrap;}
.head_rt_svg:focus { background-color: green; }

label.lbl.lbl-b.active {
    text-align: center;
}
a.post-create {
    padding: 0 16px;
}
.middle_container {
    width: 100%;
    flex: 1;
    padding: 0 32px;
}
.pro-jobs-servc{
    padding:0 !important;
}
.transfer_methods {
   display: flex;
    justify-content: start;
    border: 1px solid #b1aeae;
    border-radius: 5px;
    align-items: center;
    height: 50px;
    padding: 10px;
}
    p.pay_online {
    padding-left: 35px;
    color: #3a3a3a;
    font-weight: 600;
    font-size: 13px;
}
img.fpx_logo {
    width: 80px;
}
/*div#log button {*/
/*    margin-bottom: 12px;*/
/*}*/
div#log input {
    display: none;
}
.modal-dialog {
    max-width: 690px !Important;
}
.modal-body {
    padding: 32px 32px 0 32px !Important;
}
h3.hobbies_wrap {
    margin: 0 !important;
    padding: 10px 0 !important;
}
.modal-dialog.modal-lg {
    margin: 10.75rem auto !important;
}
.skills_wrap_inp{margin-bottom:16px !important;}
.bio-title.edit_profile_bio_wrap h3 {
    margin: 0 !important;
    padding-bottom: 8px !important;}
.modal-footer{padding: 16px 32px !important;border-top: none !important;}
.white_img_heart_wrap{width:19px !important; cursor:pointer;}


button.invite-jop-post {background: #fff !important;border: 1px solid #00C853;}
.profile-mid_right_btns button a {color: #fff;}
.profile-mid_right_btns button{    width: 100%;background: #cfcfcf;font-weight: 600;font-size: 15px;padding: 10px;border-radius: 10px;color: #000;}
button.invt-job-intrvw {
    background: #00C853;
    color: #fff;
}
.profile-mid_right_btns {display: grid;gap: 12px;}
.bnt-fill-green:hover {background:#00AE48; color:#FFFFFF;}
/* Round Buttons Css */

.btn-round {height: 30px; border-radius: 32px; padding: 0 15px; display: grid; place-content: center; text-align: left; font-weight: bold; border: 2px solid #707070; background:#fff; opacity: 1;color: #707070; 
width: fit-content; margin-top: 10px;}
.btn-round:hover {border: 2px solid #323232;  color: #323232;  font-weight: 600;}
label.btn-round.active {background: #323232; color: #fff; border:1px solid #000;}
/*header buttons*/
.dropbtn:hover{color:#fff !important; background:#00C853;}
  .downld_contact{width: 164px;}
  
  /*another buttons*/
  button.invite-jop-post {background: #fff !important;border: 1px solid #00C853;color: #00C853!important;}
.manage_post_wrap{font-size:14px;}
.status{width:113px;}
.btn_submit_approval{float: left;     margin-top: 20px;}


/*USER VIEW BUTTON*/
button.invt-job-intrvw {
    background: #00C853 !important;
    color: #fff !important;
}
button.invite-jop-post {
    background: #fff !important;
    border: 1px solid #00C853;
}

/*EDIT BUTTONS IN PROFILE*/
button#edit_profile_wrap {
    color: #0090FF !important;
    font-size: 12px;
}
.btn_profile_edit:hover {
background:#F1F3F4 !important;
}
button.btn.btn_close_wrap {
    color:#007bff;
    font-size: 14px;
}
button.btn.btn_save_wrap {
    color:#fff;
    background:#0090FF;
    height:40px;
    width:94px;
    border-radius:8px;
    font-size: 14px;
}
/*portfolio buttons*/
button#del {
       position: absolute;
    right: -5px;
    border-radius: 50%;
    top: -9px;
    background: #B00020;
    font-size: 11px;
    border: 2px solid #fff;
    padding: 0px;
    width: 20px;
    height: 20px;
}
/* BUTTON CSS END */
/************TOP-UP-WALLET END*************/
button.btn.btn-success.create_sell_serivices {
        background: #10df66;
        border: 1px solid #10df66;
}
.btnn-icn i {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p.mr-in:hover{text-decoration:none;}
p.pp2 a {
    color: #323232;
}
div#one {
    border: none !important;
}
div#two {
    border: none !important;
}
a.btn.btn-sign-up {
    float: left;
    color: #fff;
    position: absolute;
    margin-top: 123px;
    position: absolute;
    color: #fff;
    background-color: #007bff;
    left: 39%;
}
.btnn-icn {
    display: flex;
    align-items: center;
}
img.heart-img {
    width: 30px;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer !important;
}
/*.wallet-blnc button {*/
/*    border-radius: 28px;*/
/*    background: #047e04;*/
/*    padding: 8px 16px;*/
/*}*/
a.ser-pro {
    position: fixed;
    width: 26%;
    z-index: 999;
	
}
.Sponsor a {
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
        color: #fff;
}
.ser-pro img {
    padding: 0 72px;
    display: block;
    max-width: 100%;
    height: 60px;
    margin-left: 1rem;
    object-fit: contain;
    background: #fff;
    width: 320px;
}
.edit-profile a {
    color: #00C853;
}
.d-flex.first-profl {
    justify-content: space-between;
}
.img-heart-nm {
    display: flex;
}
i.fa-solid.fa-star {
    color: #ffd700;
    font-size: 10px;
}
.heart-img-head {
    justify-content: space-between;
}
a.spnsr-serv-pro {
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px !important;
}
a.contc-us {
    border-bottom: 1px solid #000;
}
i.fa-solid.fa-star.star-gr {
    color: #00000029;
}
.title_img {
    display: flex;
}
.d-flex.two-lb.align-items-center.job-listing-fl {
    justify-content: space-between;
}
.clock-time {
    display: flex;
    align-items: flex-end;
}
.clock-time i.fa-regular.fa-clock {
    padding-right: 8px;
    font-size: 17px;
    padding-bottom: 3px;
    color: #323232;
}
.mobile-show{
    display:none;
}
/*-------------------------------------------------------------------------*/
/****************SEARCH-SERVICES*********/

button.accordion:after {
  font-family: FontAwesome;
  content: "\f078";
  font-family: "fontawesome";
  font-size: 18px;
  float: right;
}
.search_services_cont input {
    margin-bottom: 17px;
        padding: 28px;
}
button.accordion.is-open:after {
  content: "\f077";
}
.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  max-height: 0;
}
/****************SEARCH-SERVICES*********/
/* just check*/
input[type="file"] {
      display: block;
    font-size: 30px;
    border: 1px solid #D2D2D2;
    padding: 16px;
    width: 77px;
    height: 85px;
    text-align: center;
    border-radius: 5px;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}
/* just check*/



input.frst-task {
    margin-bottom: 25px;
    padding: 7px;
    border-radius: 5px;
}
.input-task {
    display: grid;
}
label.lst-plus.plus-resp {
    width: 100% !important;
}
input.inp-plus {
    width: 100%;
}
.hide-wrapper i {
    position: absolute !important;
    left: 94% !important;
}
.second-mid.col-lg-8.example {
    height: 819px;
    margin-top: 63px;
}
.title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 0.2rem !important;
  text-align: center;
    font-size: 17px;
    color: gray;
    font-weight: 100;
}
.title::before, .title::after {
content: "";
height: 2px;
background-color: #a1a1a1;
display: block;
}
ul.pro-ul li {
    color: #000;
    font-weight: 700;
    font-size: 13px;
}
.d-flex.flex-column.lists a {
}
/*profile-page-start*/
.example {
     width: 100%;
    height: auto;
}
.example {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
.example::-webkit-scrollbar {
    width: 5px;
}
.example::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.example::-webkit-scrollbar-thumb {
  background: #00C853; 
  border-radius: 10px;
}
.example::-webkit-scrollbar-thumb:hover {
  background: #000; 
}
.bck-white { 
    background: #fff;
    padding: 20px;
     /*margin-bottom: 24px;*/
}
.flx {
    justify-content: space-between;
    padding-bottom: 5px;
}
.main-img{
 width: 60px;
height: 60px;
border-radius: 50%;
object-fit: cover;
}
/*.dreamz {*/
/*    margin-left: 10px;*/
/*}*/
.dream  p {
    font-size: 12px;
}
.bio-title h3 {
    color: #323232;
    font-size: 21px;
    margin: 32px 0 8px 0;
    font-weight: 600;
}
button.btn-prof {
    border-radius: 12px !important;
    border: 1px solid #00C853 !important;
    font-size: 10px !important;
    padding: 2px 7px 2px 8px !important;
    background: #fff !important;
    color: #00C853 !important;
}

.title-and-para p {
    padding-bottom: 12px;
    font-size: 12px;
}
.bio-quali {
    width: 70%;
}
img.add-img {
    width: 93px;
    height: 92px;
    object-fit: cover;
}
img.add-img {
    width: 77px;
    height: 87px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}
.bio-img {
   display: flex;
   gap:5px;
    flex-wrap: wrap;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.img-p-content {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
        overflow: hidden;
}
.img-pro-fl img {
    width: 48px;
    height: 46px;
    object-fit: cover;
    border-radius: 5px;
}
.para-profile p { font-size: 16px;margin-left: 10px}

 .add-img-container img {
    /*margin: 0 14px 0 0px !important;*/
    width: 60px !important;
    height: 60px !important;
}
label.upload__btn {
    float: left;
    margin-right: 12px;
}

img.add-img {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
    margin-bottom: 10px;
        /*margin-right: 10px !important;*/
    border-radius: 5px;
    float: left;
}

.all-images {
    float: left;
    flex-wrap: wrap;
    display: flex;
    gap:5px;
        margin-top:4px;
}
.add-img-container.slide {
    position: relative;
}
.star-rating h3 {
    color: #323232;    
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.star-rating img {
    width: 11px;
}
.star-rating {
    padding-left: 16px;
}
.show-all a {
    color: #00C853;
    font-size: 12px;
    float: right;
    margin: -35px 0 0 0;
}
.profile-mid-content, .fl-sm {
     display: grid; 
    /*justify-content: space-between;*/
    align-items: center;
}
.star-rating-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.review-sec-profile p {
    color: #323232;
    font-size: 14px;
    padding-bottom: 30px;
          width: 100%;
}
.review-content {
    display: flex;
}
.dream-star h6 {
    margin: 0;
    color:#000 !important;
    font-weight: 600;
}
.new-li-profl .edit_reciept {
    width: 100%;
    font-size:12px !important;
}
.rt-side.pro-rt {
    text-align: center;
}
.new-li-profl .upload {
   width: 100% !important;
    padding: 7px;
    font-size: 13px;
    font-weight: 600;   
        /*background: #00C853;*/
    /*color: #FFFFFF;*/
}
.new-li-profl .update {
   width: 100% !important;
    padding: 7px;
    font-size: 13px;
    font-weight: 600;   
        background: #00C853;
    color: #FFFFFF;
}
.pro-rt{
    padding-top:0;
}
.review-sec-profile, .title-and-para.forth-sm {
}
.desk-hidn{
    display:none;
}
.two-pro-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
button.btn.btn-sucs , .btnm-frst {
    margin-bottom: 10px;
    padding: 10px 45px 10px 45px;
}
input.upload__inputfile {
    display: none;
}
label.upload__btn {
    font-size: 30px;
    border: 1px solid #D2D2D2;
    padding: 16px;
    width: 77px;
    height: 85px;
    text-align: center;
    border-radius: 5px;
}
input#fname {
    border: 1px solid gray;
        height: 60px;
}
form#flight label {
    font-weight: 600;
}
.qualification-frst {
    display: grid;
        padding-bottom: 31px;
}
   textarea:focus { 
        outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #000;
    }
/********************************************************************************/
.upload {
  &__box {
    padding: 40px;
  }
  &__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  &__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid;
    background-color: #4045ba;
    border-color: #4045ba;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
    
    &:hover {
      background-color: unset;
      color: #4045ba;
      transition: all .3s ease;
    }
    
    &-box {
      margin-bottom: 10px;
    }
  }
  
  &__img {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }
    
    &-box {
      width: 200px;
      padding: 0 10px;
      margin-bottom: 12px;
    }
    
    &-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;

        &:after {
          content: '\2716';
          font-size: 14px;
          color: white;
        }
      }
  }
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}
/*button.btn.btn-success.btn-pro-edit {*/
/*    padding: 5px 20px 5px 20px;*/
/*}*/
.mid-pro.example {
    padding: 11px;
}
.jst-nw {
    /* padding-left: 235px; */
    width: 100%;
    float: right;
    text-align: end;
}
.app-act h2 {
    font-size: 20px;
    font-weight: 500;
}

/********************************************************************************/
/*profile-page-End*/

/*manage post*/
.img-plus-nm {
    display: flex;
	width:100%;
}
img.cash-img.img-cash-gr {
    width: 27px;
}
.jst-nw p {
    font-size: 11px;
}
.csh-img-div b {
    color: green;
}
/*.ALL-RI p {*/
/*    width: 100% !important;*/
/*}*/
button.btn.btn-sign-up {
    color: #fff;
}
/*manage post*/

/*transaction section*/
.h3-para-trans{
    display:flex;
    justify-content:space-between;
}
.transaction-contain {
    padding-bottom: 40px;
}
.transaction-contain p {
    font-size: 14px;
  font-weight: 400;
}
.h3-para-trans h3 {
    color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
}
.rm-text p {
    color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.date-format p {
    font-size: 13px;
    padding-top: 8px;
    font-weight: 400;
}
/*transaction section*/

/*wallet-page START*/
.wallet-blnc {
    display: flex;
    justify-content: space-between;
    align-items:center;
        padding: 15px 0;
            border-bottom: 1px solid #F1F3F4;
}
.wallet-container {
    background: #fff;
    padding: 10px;
}
.wallet_blance h3 {
    font-size: 21px;
}
.button-hist { 
 text-align: center;
}
/*button.btn.btn-success.btn-history {*/
/*    padding: 10px 15px 10px 15px;*/
/*    color: #fff;*/
/*    border: none;*/
/*    font-weight: 700;*/
/*    margin: 0;*/
/*}*/
button.btn.btn-success.button-hist::hover{
     color:#fff !important;
    background: #196b1d !important;
}
.frst-trans {
    margin-top: 30px;
}
button.btn.btn-success.btn-wallet {
    width: 22%;
    padding: 10px 5px 10px 5px;
    background: #F1F3F4;
    color: #000;
    border: none;
    font-weight: 500;
}
.transaction-contain h2 {
        font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}
.wallet_blance p {
    font-size: 16px;
    font-weight: 100;
}
button.btn.btn-success.btn-wallet:hover{
    color:#fff;
    background: #196b1d;
}
/*wallet-page END*/
/*REFER SATRT*/
.refer-rw {
    align-items: center;
    justify-content: center !important;
}
.input-refer {
    text-align: center;
}
.title-content.refer-cont-p p {
    font-size: 26px !important;
    margin: 0 auto;
}

.refer-main {
    background: #fff;
    padding: 15px;
    height: 87vh;;
}
.input-refer input {
    width: 100%;
    border-radius: 7px;
    padding: 12px;
    text-align: center;
    margin: 0 auto;
}
.refer-head h2 {
	font-size: 25px !important;
    font-weight: 500;
	text-align:center;
}
label.refer-link {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 18px;
    text-align: left;
    justify-content: center;
    position: relative;
}
.title-content {
    padding: 0 70px;
    text-align: center;
}
.title-content p {
    font-size: 16px;
    font-weight: 500;
}
.refer-rw{
    height:500px;
}
/*REFER END*/
/*account page main*/
.mid-asid-new {
    background: #fff !important;
}
/*account page main*/
/*review-only*/
.pro-star-rt-img{
    display:flex;
}
.review-content-pro {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.star-rating img {
    width: 12px;
    height: 12px;
}
.d-m-y p {
       font-size: 14px;
}
form.service-form label {
    color: #000;
    font-weight: 600;
    cursor: pointer;
}
form.service-form .form-control {
    margin-bottom: 14px;
    border-radius: 5px;
}
.fa-add:before, .fa-plus:before {
    content: "\2b";
    color: #fff;
    font-weight: 100;
}
.field_wrapper {
    position: relative;
}
/*button.btn-approve {*/
/*    margin-top: 40px;*/
/*    padding: 5px 16px !important;*/
/*    background: #00C853;*/
/*}*/
#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}
div#the-count span {
    color: gray;
}
.plus-sign {
    display: none;
}
/*form section*/

/*professioinal SERVICE file*/
button.btn.btn-success.btn-sucs.btnm-frst {
    padding: 10px 20px;
}
button.btn.btn-success.btn-sucs {
    width: 100%;
}
.two-pro-btn a {
    width: 100%;
}
ul.pro-ul {
    list-style: none;
    display: grid;
}
.pro-cir-ser{
padding-top:30px
}
.img-cir.pro-cir-ser {
    color: #000;
}
.title-and-para p {
    color: #000;
}
img.pro-big-img {
    width: 100%;
        height: 300px;
    object-fit: cover;
}
.scnd-bg-clr {
    display: flex;
    justify-content: space-between;
        padding: 14px 0 14px 0;
    align-items: center;
}
img.sm-img-profsonal {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}
.dream-p-img, p.dream-p-impro {
    color: #707070;
    font-size: 10px;
        padding-left: 10px;
}
.img-cir-prof {
    display: flex;
}
.myr p {
    color: #000;
    font-weight: 700;
}
.hd-para h6 {
    color: #000;
    font-weight: 600;
}
.hd-para p {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
}
/*professioinal SERVICE file*/

/* THIRD PAGE INDEX3 */
/* MIDDLE ONE START */
.img-content {
    background: #fff;
    border: 5px;
}

img.cir-img {
       width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 64%;
}
.content-para {
    margin: 0;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: #707070;
    font-family: Arial;

}
.third-pge-contnt {
    padding: 10px;
}
p.title-name {
    font-weight: bold;
}
.third-pg-rw{
    justify-content:start !important;
}
.li-rt.side p {
   font-size:10px;
}
.w3-sidebar.w3-light-grey.w3-bar-block .align-items-center {
    justify-content: space-around;
}
.all-cntnt .two-lb {
    padding-bottom: 5px;
    justify-content: space-between;
}
.hh-1 {
    padding-right: 10px;
}
p.pp.mr-in.title-name {
    padding-left: 0;
    font-size: 13px;
    padding-right: 10px;
        color: #323232;
}
.second-mid.mid-trd.col-lg-8 {
    padding-bottom: 114px;
}
img.star-yllo {
    width: 11px;
    height: 11px;
}
.just-now-ok {
    padding-left: 241px;
}
.items-title {
        display: flex;
    justify-content: space-between;
}
.just-now-ok .jst-now {
    font-size: 14px;
    color: #707070;
}
.just-now .jst-now {
    font-size: 14px;
    color: #707070;
}
small.sml {
    font-size: 12px;
    color:#000;
}
/* MIDDLE ONE END */
/* THIRD PAGE INDEX3 end */

/* ASIDE START */
.all-cnt p {
    color: #323232 !important;
}
.all-cnt small{
    color: #000 !important;
	 font-size: 12px !important;
	     padding-top: 1px;
}
.w3-sidebar.w3-light-grey.w3-bar-block{
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #323232;
    width: var(--sidebar-width);
    color: #fff;
    width:320px;
}

img.sm-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.small-imgg{
   display:flex; 
}
.sponsor p {
    color: #fff;
    font-size: 11px;
}
p.pp2.w-75 {
    /*font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/27px var(--unnamed-font-family-open-sans);*/
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-shadow: 1px 1px 3px var(--unnamed-color-323232);
    text-align: left;
    /*font: normal normal bold 20px/27px Open Sans;*/
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #323232;
    opacity: 1;
    width:70% !important;
}
.w3-sidebar.w3-light-grey.w3-bar-block::-webkit-scrollbar {
 display: none;
}
.head-mid h2 {
        border: none;
    background: none;
    padding: 10px 0;
    color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
        padding: 16px 0;

}
.img-p {
    display: flex !important;
    background: #fff;
	/*height: 145px;*/
}
img.hhh {
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 10px;
    padding: 4px;
}
.row.row-2 {
    background: #F1F3F4;
     justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.p-20 {
    padding: 10px;
    height: 145px;
    border-radius: 5px;
}
.mid-i-p {
    margin-bottom: 15px;
}
.all-cnt {
    padding: 8px 7px;
    width: 100%;
    overflow: hidden;
}
p.pp2 {
    margin: 0;
    width: 100%;
    font-size: 20px;
    padding-bottom: 10px;
    float: left;
    height:70px;
}
.d-flex.justify-content-between.align-items-center {
    float: right;
    width: 100%;
}
p.mr-in {
        font-size: 15px;
    padding-left: 8px;
    font-weight: bold;
}
.all-cnt .d-flex.two-lb.align-items-center {
    padding-bottom: 10px;
	padding-left: 0;
}
.form-mid  input{
    text-align: center;
  }
.p-20 .d-flex {
    padding-bottom: 7px;
}
  .form-mid ::-webkit-input-placeholder {
    text-align: center;
      font-weight:500;
      color: #000;
  }
  .two-btn button:hover, 
  .two-btn button:focus {
    color: #00C853;
    border-bottom: 3px solid #00C853;
}
.star {
    font-size: 11px;
}
.star img{
    width:10px;
}
.row.row-2 .active {
    border-bottom: none !important;
}
img.cash-img {
    width: 20px;
}
input#in-frst {
    width: 100%;
    height: 126px;
}
form.form-mid input#in-frst {
    margin-bottom: 15px;
        border-radius: 5px;
            border: 1px dashed #707070;
}
form.form-2 {
    text-align:center;
}
form.form-2 input[type="text"] {
       padding: 8px 0px 8px 32px;
    width: 50% !important;
    margin: 0 auto;
    background:#efefef !important;
}
.img-p {
    margin-bottom: 15px;
    border-radius: 5px;
    /*align-items: center;*/
}
img.blck-logo {
    display: none !important;
}
.scnd-hdn {
    display: none !important;
}
.hidn-objct {
    display: none !important;
}
nav.d-flex.fr-btn {
     padding-bottom: 0px;
}
.batch {
    text-align: center;
}

.batch img {
    width: 35px;
    margin: 4px 0 4px 0;
}
.m-20 {
    margin-bottom: 35px;
}
.side-br-padn{
	padding:7px;
}
.d-flex.flex-column.lists a {
    text-decoration: none;
}
.row.row-1 {
    margin-right: 0;
    justify-content: space-between;
}
nav.d-flex.fr-btn {
    justify-content: space-between;
    align-items: center;
      padding-bottom: 8px;
    padding-top: 4px;
	    background: #fff;
}
.dreamz p {
    font-size: 10px;
    margin: 0;
}
.dreamz h6 {
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-arial);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 16dp/20dp Arial;
    letter-spacing: 0dp;
    color: #FFFFFF;
    opacity: 1;
}
.h-p {
margin-bottom: 4px;
} 
p.cl-w2 {
    color: #fff;
    margin-bottom: 5px;
  text-shadow: 2px 7px 5px rgb(0 0 0 / 30%), 0px -4px 10px rgb(255 255 255 / 30%);
}
svg.star_wrap_svg {
    color: #ffeb00;
     width: 14px;
    height: 14px;
    margin-right: 5px;
}   
.li-rt h4 {
    margin: 10px 0;
    color: #323232;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
.li-rt p {
    margin: 0;
    color: #707070;
    font-size: 12px;    
    padding:6px 6px;
    border-radius: 15px;
    border: 1px solid #D2D2D2;
    background: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: center;
    font: normal normal bold 14dp/18dp Arial;
    letter-spacing: 0dp;
    color: #707070;
    opacity: 1;
}
/*i.fa-solid.fa-house {*/
/*    display: none;*/
/*}*/
/*button.btn.btn-success {*/
/*   border-radius: 24px;*/
/*    padding: 10px 20px;*/
/*    font-size: 12px;*/
/*    display: block;*/
/*    margin: 0px auto;*/
     
/*}*/
/*.btnn-icn i {*/
/*    padding: 10px;*/
/*}*/
i.fa-regular.fa-message {
    color: #707070;
}
.li-rt a{
    text-decoration: none;
}
.li-rt p:hover {
    color: white;
    background: #000;
    text-decoration: none;
    border: 1px solid #323232;
}
.img-1 img {
    width: 94px;
    height: 94px;
    border-radius: 53%;
    object-fit: cover;
}
.logo img {
    width: 49%;
    padding-top: 4px;
}
button.btn-on {
     border-radius: 12px;
    border: 1px solid #fff;
    font-size: 10px;
    padding: 2px 14px;
    background: #00C853;
    color: #fff;
    border: 1px solid #00C853;
}
.img-1 {
    margin-right: 8px;
	padding-left:15px !important;
}
.onln-cnt p {
    font-size: 10px;
    text-align: center;
    margin: 0;
    width: 57px;
}
.onln-cnt {
    text-align: center;
}
.logo {
    text-align: center;
    background: #fff;
    height: 68px;
}
.row.row-1 .col-md-3 {
    padding-right: 0;
}
.d-flex.flex-column.lists img {
    padding-right: 12px;
}
.footer{
    padding:10px;
}
.f-icons {
    display: flex;
    justify-content: space-between;
        align-items: center;
            text-align: center;
}
.i-hvr-p:hover a{ color:#00c853;
    text-decoration:none;
}
.i-hvr-p:hover svg{
    color:#00c853;
    text-decoration:none;
}
.i-hvr-p:focus a{ color:green;}
.i-hvr-p:focus svg{
    color:green;
}
.hdn-mid{
    display:none !important;
}
footer.footer {
    display: none;
}
.container {
    padding-top: 25px;
}
/*second swap page*/
a#one-tab img {
    padding-right:8px;
}
.fade:not(.show) {
    opacity: 0;
    display: none;
}
.nav-link.active, #one-tab:hover{color: #00C853 !important;border: none;border-bottom: 3px solid #00C853 !important;}
a#two-tab:hover{
    color: #00C853 !important;
    border: none;
    border-bottom: 3px solid #00C853 !important;
}
li.nav-item a {
    font-size: 15px;
    color: #707070;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
header.first-mid {
    /*border: 1px solid #e4e4e4;*/
    border-left: unset;
    position: fixed;
    z-index: 999;
    width: 76%;
}
.nav-tabs .nav-link{
    border:none;
}
p.pp2.job-vet {
    width: 90% !important;
}
.mobile-hide {display:block;margin-top: 20px;
}
.desk-hide {display:none;}
.logo {
    display: none !important;
}
.right_side_bar_container{width:320px;}
/*second swap  page*/
/* ASIDE END */
@media (min-width:0) and (max-width:567px){
    .container.select_srvc_choice{transform: translate(0%,0%) !important;}
    .row.skill_hobbies_ { flex-direction: row;}
    .search_result_row {padding: 10px;}
    input#search-input{width:75px;}
    .row.skill_hobbies_.search_results_topic {flex-direction: row !important;gap: 5px;}
.d-flex.search_detail_container {flex-direction: column;}
    .middle_container{padding:0}
    .right_side_bar_container {display: none;}
button.btn-round {font-size: 10px; height: 20px;}
.container_search{padding:10px;}
td {
    font-size: 12px !important;
}
 .wrapper_container_mobile_header{position: sticky;
    top: 0;
    z-index: 1;}
.two_btn_head{gap:5px;}
.col-lg-4.view_wrapper {
    width: 100% !important;
}
header.header {
    display: none;
}
        .content_sec_service{padding:10px !important;}
    button#fncn_btn_search i {
    position: unset !important;
    color: #000 !important;
}
   .inner {
    z-index: 0 !important;
}
    .profile-mid_right_btns{margin-right:0 !important;}
        /*button.search-button i {display: none;}*/
        .img-p {overflow: hidden;padding:0 !important;}
/*    .col-lg-9.col-md-9 {padding: 0 !important;*/
/*}*/
    .onln-cnt{margin-left:0 !important;}
    .col-md-6{padding:0;}
    .bck-white { padding: 14px !important ;}
.instant-sidebar-menu li { padding-left: 10px !important;line-height: 2!important;border-bottom: 1px solid #00000017!important;}
.instant-sidebar-profile { border-bottom: unset !important;}
.bck-white .col-lg-8 {width: 80%;float: left; padding: 0 !important;}
.bck-white .col-lg-4 {width: 20%;float: left; padding: 10px;}
.dream p {font-size: 12px;font-weight: 500;}
.onln-cnt p {font-weight: 600;}
img.add-img {width: 60px !important; height: 60px !important; object-fit: cover; margin-bottom: 10px !important; margin-right: 10px !important; border-radius: 5px; float: left;}
.edit-profile {float: left; width: 35%;}
/*.container-fluid {padding-right: 10px !important;  padding-left: 10px !important;}*/
.backbtn {float: left;}
.prof-heigh-wid {float: left;width: 50%;}
.rightsidemenu {float: left;width: unset;}
.backbtn a {float: left;  }
.wallet-container {background: #fff;padding: 25px !important;}
.transaction-part {padding: 10px !important;}
.instant-sidebar-menu li a:hover {background-color: transparent;}
.trio-icon {    float: left;    display: flex;    padding: 0px 0 0 22px;}
button.btn.btn-success.btn-approve {width: 100% !important;}



	    .title-content.refer-cont-p p {
        font-size: 17px !important;
    width: 100%;
}
.dream-star h6 {
    margin: 0;
    color:#000 !important;
}
body.background-container {
    padding: 0;
}
/*nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top {*/
/*    display: none;*/
/*}*/
/*new mid */
header.first-mid {
    width: 88% !important;
    padding-left: 98px !important;
}
.row.row-1 {
    margin-right: 0;
    justify-content: center !important;
    grid-gap: 1% !important;
}
 /*new-mid*/
.w3-sidebar.w3-light-grey.w3-bar-block{
    margin-top:0 !important;
}
.wallet_blance h3 {
    font-size: 13px;
    font-weight: 600;
}
/*.wallet-blnc button {*/
/*    border-radius: 28px;*/
/*    background: #047e04;*/
/*    padding: 8px 16px;*/
/*    font-size: 12px;*/
/*}*/
.manage-as-lo {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    overflow: hidden;
}
.transaction-contain p {
    font-size: 12px;
    width: 71%;
}
.h3-para-trans h3 {
    font-size: 15px;
    font-weight: 600;
}
a.ser-pro {
    display: none;
}
.mobile-show{
    display:block !important;
    align-items: center;
    text-align: center;
}
.msg-header{
    display:block !important;
}
.dream {
     margin: 0 !important; 
    display:flex;
    gap:15px;
}
.img-cir-profile {
    display: flex;
}
   .dream-star { padding-bottom: 3px;} 
.all-cnt small {
    font-size: 8px !important;
}
.bck-white.example.one-high {
    height: 79vh;
}
.Sponsor a {
    font-size: 11px;
    color: #fff;
}
.clock-time p {
    font-size: 10px;
}
.clock-time i {
    font-size: 10px !important;
    padding: 2px !important;
}
.col-lg-9 {
    width:100%;
    padding: 0px;
}
.title-content {
     padding: 0;
}
label.refer-link {
    font-size: 18px;
    padding-bottom: 8px;
}
.mobile-hide {display:none !important;}
.desk-hide {display:block !important; margin-top:20px !important;}

    .w3-sidebar.w3-light-grey.w3-bar-block,.btn.btn-success,i.fa-regular.fa-message,.two-btn button    {
       display: none;
    }

.review-sec-profile, .title-and-para.forth-sm {
    padding: 5px;
        /*display: none;*/
}
    .fa-house{
        display: block;
    }
.plus-sign i {
 right: 30px;
    position: fixed;
    bottom: 120px;
    background: #00C853;
    padding: 0;
    border-radius: 50%;
    color: #fff !important;
    font-size: 24px;
    display: grid;
    height: 60px;
    width: 60px;
    place-content: center;
}
.plus-sign {
    display: block;
}
.all-cnt b {
    font-size: 12px;
}

.container {
     padding-top: 0 !important;
}
.head-mid h2 {
 display: none;
}
.btnn-icn {
    display: none;
}
.container{
    padding-left: 0;
         padding-right: 0; 
     padding-left: 0;
}
.second-mid.col-lg-8 {
    padding-left: 0;
    padding-right: 0;
}

.d-flex.hidn-objct {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding:10px;
     background: #fff;
}
img.blck-logo {
    width: 70%;
}
.d-flex.hidn-objct i {
    padding: 5px;
    color: #000;
}
/*i.fa-solid.fa-house {*/
/*    display: block !important;*/
/*}*/
img.blck-logo {
    display: block !important;
    text-align: center !important;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}
.d-flex.scnd-hdn p {
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 9px;
}   
.content-para {
    font-size: 10px;
    padding-left: 9px;
}
.d-flex.scnd-hdn a {
    font-size: 11px;
}
.d-flex.scnd-hdn {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #fff;
    gap:10px
}
.row.row-1 .col-md-3 {
    padding-left: 0;
}
p.sort {
    font-size: 11px;
}
.hidn-objct {
    display:flex !important;
}
p.pp2.cl-w2.w-75 {
    font-size: 14px;
    width: 100% !important;
}
.jst-nw {
      padding-left: 42px;
}
.second-mid.col-lg-8.example {
    height: 650px !important;
    padding-left: 14px;
}
p.pp2 {
    font-size: 11px;
	width: 100%;
    padding-bottom: 0;
    height: 53px;
}
img.hhh {
        width: 100px;
       height: 119px;
}
.d-flex.two-lb.align-items-center {
    padding-bottom: 10px;
        padding-left: 9px;
}
form.form-mid {
    display: none;
}
small {
    font-size: 10px;
}
.rt-side {
    display: none;
}
.f-icons i.fa-regular.fa-message {
    display: block;
}
.f-icons i {
    font-size: 22px;
}

main.container-fluid{margin-bottom:80px; height:auto;}
.footer {
    padding: 20px 24px;
    box-shadow: 0 0 11px 5px rgb(1 1 1 / 21%);
    position: fixed;
    bottom: 0;
    background-color: #fff;
	left:0;
    right:0;
    z-index: 1;
}
.f-icons i {
    color: #707070;
}
i.fa-regular.fa-message{
      color: #707070 !important;
}
.i-hvr-p a{
    color: #707070
}
.hidden-cntnt{
    display:block !important;
}

.p-20 {
    height: 107px;
}
.f-icons p {
    font-size: 8px;
    width: 73px;
}
footer.footer {
    display: block;
}
.hdn-mid{
    display: flex !important;
}
.two-btn {
    display: none;
}
.just-now-ok {
    padding-left: 82px;
}
p.mr-in {
    font-size: 11px;
}
nav.d-flex.fr-btn {
     padding-bottom: 0; 
     padding-top: 0; 
}
.scnd-hdn {
    display: flex !important;
}
.desk-hidn{
    display:block !important;
}
.review-sec-profile p{
    width:100%;
        font-size: 13px;

}
#on-clk-btn{
 display:none;   
}
.d-flex.scnd-hdn .sort {
    display: block;
    float: right;
    text-align: end;
    width:100%;
    font-size: 11px;
}
/*.d-flex.scnd-hdn a {*/
/*    margin-left: 6px;*/
/*    border: 2px solid #707070;*/
/*}*/
.hh-1 {
    padding-right: 0;
}
.jst-nw p {
    font-size: 8px;
}
.just-now .jst-now {
    font-size: 11px;
}
.just-now-ok .jst-now {
    font-size: 11px;
}
small.sml {
    font-size: 10px;
}
p.pp.mr-in.title-name {
    font-size: 11px;
}
.mobile-show button {
    background: #00000029;
    border-radius: 27px;
    display: inline-block;
    margin-bottom: 12px;
    color:#000;
    font-weight: 500;

}
.manage-section { 
    padding-left: 15px;
    padding-right: 15px;
}

.app-act h2 {
    font-size: 12px !important;
    margin-top: 15px;
}
.manage-as-logo {
    font-weight: 600;
}
}
@media screen and (min-width: 578px) and (max-device-width: 922px) { 
  /*new mid */
header.first-mid {
    width: 88% !important;
    padding-left: 98px !important;
}
.row.row-1 {
    margin-right: 0;
    justify-content: center !important;
    grid-gap: 1% !important;
}
.col-sm-12.instant-main {
    padding-left: 100px;
}
.w3-sidebar.w3-light-grey.w3-bar-block{
       position: fixed !important;
    top: 60px !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 1000 !important;
    display: block !important;
    padding: 16px 0 !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    background-color: #323232 !important;
    width: var(--sidebar-width) !important;
    color: #fff !important;
    width:320px;
}
 /*new-mid*/
   .logo img {
    width: 40% !important;
}
.tab.head {
    height: 100vh;
    padding: 402px !important;
}
}
/**media querry end/
/*  HEADER START */
a#two-tab {
    padding: 8px 30px;
    font-size: 18px;
    border-bottom:3px solid #fff;
}
a#one-tab {
    padding: 8px 30px;
    font-size: 18px;
    border-bottom:3px solid #fff;
    
}
.two-btn button {
    border: none;
    background: none;
    padding: 16px;
    color: #707070;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 16px;
}

/*hidden on desktop*/
p.sort {
    display: none;

.hd-icn {
    width: 26px;
    height: 35px;
}

/*i.fa-solid.fa-house {*/
/*    display: none;*/
/*}*/
.scnd-hdn {
    display: none !important;
}
/***************/

.btnn-icn i{
    padding: 5px;
}
.fa-house{
    display: none;
}
button.btn.btn-success {
    border-radius: 18px;
    font-size: 14px;
    font-family: arial;
}
.hidn-objct i{
    display: none;
}
img.blck-logo {
display:none;
}
/*  HEADER END */

/* MIDDLE START */
.row.row-2 {
    background: #F1F3F4;
    justify-content: space-around;
    padding: 25px 0 5px 0;
}


.head-mid h2 {
    color: #323232;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.d-flex.rs-innr {
    justify-content: space-between;
}
.img-p p {
    margin: 0;
}
.pp {
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}
.small, small {
    font-size: 10px;
    font-weight: 400;
}
.star img {
    width: 16%;
}

.img-p {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    /*height: 126px;*/
    display: flex;
}
.img-p .pp2 {
    font-weight: bold;
    font-size: 19px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-323232);
    text-align: left;
    font: normal normal bold 20dp/24dp Open Sans;
    letter-spacing: 0dp;
    color: #323232;
    opacity: 1;
}
p.pp2 {
    width: 100%;
}
.hh-1{
    margin-right: 12px;
}
input#in-frst {
    border: 1px solid #707071;
    width: 100%;
    height: 126px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.form-mid  input{
    text-align: center;
  }
  
  .form-mid ::-webkit-input-placeholder {
    text-align: center;
      font-weight:500;
      color: #000;
  }
  
  .form-mid :-moz-placeholder {
    text-align: center;
  }
  .w-75 {
    font-size: 20px;
    text-shadow: 1px 1px 3px #323232;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
p.mr-in {
    padding-left: 8px;
}
.second-mid {
    padding: 0 9px 0 9px;
}
.hhh {
    width: 132px;
    height: 116px;
    object-fit: cover;

}
.all-cnt {
    padding: 5px;
}
.all-cnt .d-flex {
    align-items: center;
}
.p-20 {
    padding: 11px;
}
.p-20 {
    background-image: url(img/photo-1495195129352-aeb325a55b65.avif);
    border-radius: 5px;
    height: 126px;
}
.mid-i-p {
    margin-bottom: 15px;
}
img.sm-img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
/* MIDDLE END */

/* RIGHT NAV START */
.top-rt-h h2 {
    color: #323232;
    font-size: 20px;
    font-weight: normal;
}
form.form-2 input {
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    padding: 2px 5px 2px 9px;
}
form.form-2 {
    margin-bottom: 20px;
}
/* RIGHT NAV END */


/* SECOND PAGE INDEX2 */
/* middle one START */
.d-flex.rs-innr .cash-icon {
    width: 22px;
}
.d-flex.scnd-inx {
    justify-content: space-between;
    align-items: center;
}
.d-flex.scnd-inx .time {
    width: 13px;
}
.d-flex.scnd-inx img {
    width: 10%;
}
.d-flex.scnd-inx p.tm-p {
    font-size: 10px;
}
.d-flex.rs-innr.fr-sec p {
    color: #00C853;
}
/*.small-img-star img {*/me
/*    width: 16%;*/
/*}*/
/* middle one END */
/* SECOND PAGE INDEX2 */
.two-btn {
    display: flex;
}
/* Service Form */
.service-form input {text-align: left; padding: 0; border: 1px solid #e4e4e4; float: left;}
.service-form label {color: #000 !important; font-weight: 600 !important; margin-top: 20px !important;}




